.App {
  background-color: #f0f0f0;
}

@media (min-width: 768px) {
  body {
    background-color: rgba(0,0,0,0.6);
  }
  .App {
    max-width: 900px;
    min-width: 768px;
    width: 100%;
    margin: 0 auto;
    height: 486px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .App:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.main {
  padding-top: 50px;
  min-height: calc(100vh - 50px);
}

@media (min-width: 768px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
    height: 486px;
  }
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 50px;

  text-align: center;

  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.06);
}

.header__breadcrumb {
  display: none;
  color: #666;
}

@media (min-width: 768px) {
  .header {
    position: absolute;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .header__breadcrumb {
    display: block;
    border-bottom: solid 2px #e6e6e6;
    height: 50px;
  }
  .header__description {
    display: inline-block;
    background-color: #ddd;
    width: 50%;
    height: 100%;
    line-height: 2.8;
  }
  .header__description--active {
    background-color: white;
    position: relative;
    color: var(--main-color);
  }
  .header__description--active:after {
    content: '';
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 14px;
    border-color: transparent transparent transparent #ffffff;
  }
}

.header__title {
  color: var(--main-color);

  font-size: 1.4rem;
  font-weight: 600;
  line-height: 3.2rem;
}

.header__button {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  padding: 3px 20px;

  color: #626262;
  border: 0;
  border-left: solid 1px #e6e6e6;
  background-color: white;

  font-weight: 700;
}

@media (min-width: 768px) {
  .header__button {
    border-top-right-radius: 8px;
  }
}

.header__button--back {
  right: auto;
  left: 0;
}

.price {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  margin: 40px auto;

  color: var(--main-color);
}

@media (min-width: 768px) {
  .price {
    flex: 1;
  }
}

.price__tag {
  position: relative;

  display: flex;
  justify-content: center;

  text-align: center;
}

.price__coin {
  color: #626262;
}

.price__value {
  display: inline-block;

  font-size: 7rem;
  font-weight: 700;
  line-height: 4rem;
}

.price__spans {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.price__decimal {
  font-size: 2rem;
  font-weight: 700;
}

.price__periodicy {
  color: #d5186a;

  font-size: 1rem;
  font-weight: 600;
}

.price__description {
  width: 60%;
  padding-top: 20px;

  text-align: center;

  color: #626262;

  font-size: 1rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .price__description {
    padding-bottom: 12px;
    border-bottom: dashed 1px #ccc;
  }
}

.price__list {
  display: none;
}

@media (min-width: 768px) {
  .price__list {
    display: block;
    width: 260px;
    text-align: center;
    padding: 12px;
  }
  .price__list-item {
    color: #666;
    font-size: .8rem;
    line-height: 1.4rem;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left;
  }
  .price__list-item--cartao {
    background-image: url('./img/icon-credit-card.svg');
  }
  .price__list-item--debito {
    background-image: url('./img/icon-debit.svg');
  }
  .price__list-item--boleto {
    background-image: url('./img/icon-boleto.svg');
  }
}

@media (min-width: 768px) {
  .plans {
    flex: 1;
  }
}

.plans__button {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;

  width: 96%;
  margin: 6px auto;
  padding-left: 3rem;

  text-align: left;

  color: var(--main-color);
  border: solid 1px #e6e6e6;
  border-radius: 6px;
  background-color: white;

  background-image: url('./img/unchecked.png');
  background-repeat: no-repeat;
  background-position: left 12px center;
  background-size: 26px;

  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3.6rem;
}

@media (min-width: 768px) {
  .plans__button:hover {
    border: solid 1px var(--main-color);
    background-color: #f8d6ff;
    background-image: url('./img/unchecked-hover.png');
  }
  .plans__button.active:before,
  .plans__button:focus::before {
    content: '';
    position: absolute;
    right: 100%;
    top: 16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 8px 12px 0;
    border-color: transparent var(--main-color) transparent transparent;
  }
}

.plans__button:focus,
.plans__button.active {
  color: white;
  outline: 0;
  background-color: var(--main-color);
  background-image: url('./img/checked.png');
}

.plans__discount {
  padding-right: 20px;

  text-align: right;

  font-size: .8rem;
  font-weight: 600;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
}

@media (min-width: 768px) {
  .footer {
    position: absolute;
    height: 72px;
    border-top: solid 2px #ddd;
    background-image: url('./img/icon-secure.png');
    background-repeat: no-repeat;
    background-position: left 50px center;
  }
}

.footer__button {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  color: white;
  border: 0;
  background-color: #49cba4;

  font-size: 1rem;
  line-height: 3.2rem;
}

@media (min-width: 768px) {
  .footer__button {
    border-radius: 4px;
    width: 364px;
    left: auto;
    bottom: 10px;
    right: 10px;
  }
}

.footer__button:disabled {
  background-color: gray;
}

.checkout {
  max-width: 100%;
  padding: 40px 20px;
}

@media (min-width: 768px) {
  .checkout {
    max-width: 610px;
    padding-top: 0;
  }
}

.checkout__label {
  display: block;

  margin-bottom: 20px;

  color: #888;
}

@media (min-width: 768px) {
  .checkout__label {
    margin-bottom: 22px;
    display: inline-block;
  }
}

.checkout__input {
  display: block;

  width: 100%;
  margin-top: 6px;
  padding: 10px;

  border: solid 1px #ccc;
  border-radius: 4px;
}

.checkout__select {
  display: inline-block;

  width: 80px;
  margin-top: 6px;
  margin-right: 12px;
  padding: 10px;

  border: solid 1px #ccc;
  border-radius: 4px;
  background-color: white;
}

.checkout__input--card {
  padding-left: 50px;
  background-image: url('./img/icon-credit-card.svg');
  background-repeat: no-repeat;
  background-position: left 4px center;
  background-size: 38px;
}

@media (min-width: 768px) {
  .checkout__input--card,
  .checkout__input--name {
    width: 366px;
    margin-right: 20px;
  }
}

.checkout__input--cvc {
  width: 180px;
}

.checkout__verbose {
  display: block;

  padding: 12px;

  text-align: center;

  color: #c19951;
  border: 1px solid #f0d8a8;
  background-color: #FCF7DE;

  font-size: 14px;
}

.done {
  width: 100%;
  text-align: center;
}

.done__svg {
  display: block;

  width: 160px;
  margin: 40px auto;

  text-align: center;
}

@media (min-width: 768px) {
  .done__svg {
    width: 120px;
    margin: 12px auto;
  }
}

.done__svg .success {
  max-width: 100%;
  height: 100%;
  animation: 1.6s write cubic-bezier(.25,.8,.25,1);
  stroke-dasharray: 530;
}

.done__subtitle {
  display: block;
  font-weight: 600;
  color: #666;
  font-size: 1.8rem;
  width: 80%;
  margin: 0 auto;
}

.done__strong {
  display: block;
}

.invalid {
  border: solid 1px #ffbbbb !important;
  background-color: #ffeeee;
}

.invalid::after {
  position: fixed;
  z-index: 100;
  bottom: 100%;

  content: "Campo inválido";
}

.error {
  position: absolute;

  display: none;

  color: #ff4444;

  font-size: 12px;
}

.invalid + .error {
  display: block;
}

.sexlog {
  background-color: var(--main-color);
}

@keyframes write {
    0% {
        stroke-dashoffset: 484;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
