.App {
  background-color: #f0f0f0;
}

.main {
  padding-top: 50px;
  min-height: calc(100vh - 50px);
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 50px;

  text-align: center;

  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.06);
}

.header__title {
  color: var(--main-color);

  font-size: 1.4rem;
  font-weight: 600;
  line-height: 3.2rem;
}

.header__button {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  padding: 3px 20px;

  color: #626262;
  border: 0;
  border-left: solid 1px #e6e6e6;
  background-color: white;

  font-weight: 700;
}

.header__button--back {
  right: auto;
  left: 0;
}

.price {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  margin: 40px auto;

  color: var(--main-color);
}

.price__tag {
  position: relative;

  display: flex;
  justify-content: center;

  text-align: center;
}

.price__coin {
  color: #626262;
}

.price__value {
  display: inline-block;

  font-size: 7rem;
  font-weight: 700;
  line-height: 4rem;
}

.price__spans {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.price__decimal {
  font-size: 2rem;
  font-weight: 700;
}

.price__periodicy {
  color: #d5186a;

  font-size: 1rem;
  font-weight: 600;
}

.price__description {
  width: 60%;
  padding-top: 20px;

  text-align: center;

  color: #626262;

  font-size: 1rem;
  font-weight: 600;
}

.plans__button {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  width: 96%;
  margin: 6px auto;
  padding-left: 3rem;

  text-align: left;

  color: var(--main-color);
  border: solid 1px #e6e6e6;
  border-radius: 6px;
  background-color: white;

  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3.6rem;
}

.plans__button:focus,
.plans__button.active {
  color: white;
  outline: 0;
  background-color: var(--main-color);
}

.plans__discount {
  padding-right: 20px;

  text-align: right;

  font-size: .8rem;
  font-weight: 600;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
}

.footer__button {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  color: white;
  border: 0;
  background-color: #49cba4;

  font-size: 1rem;
  line-height: 3.2rem;
}

.footer__button:disabled {
  background-color: gray;
}

.checkout {
  max-width: 100%;
  padding: 40px 20px;
}

.checkout__label {
  display: block;

  margin-bottom: 20px;

  color: #888;
}

.checkout__input {
  display: block;

  width: 100%;
  margin-top: 6px;
  padding: 10px;

  border: solid 1px #ccc;
  border-radius: 4px;
}

.checkout__select {
  display: inline-block;

  width: 80px;
  margin-top: 6px;
  margin-right: 12px;
  padding: 10px;

  border: solid 1px #ccc;
  border-radius: 4px;
  background-color: white;
}

.checkout__input--card {
  padding-left: 62px;
}

.checkout__input--cvc {
  width: 180px;
}

.checkout__verbose {
  display: block;

  padding: 12px;

  text-align: center;

  color: #c19951;
  border: 1px solid #f0d8a8;
  background-color: #FCF7DE;

  font-size: 14px;
}

.done {
  width: 100%;
  text-align: center;
}

.done__svg {
  display: block;

  width: 160px;
  margin: 40px auto;

  text-align: center;
}

.done__svg .success {
  max-width: 100%;
  height: 100%;
  animation: 1.6s write cubic-bezier(.25,.8,.25,1);
  stroke-dasharray: 530;
}

.done__subtitle {
  display: block;
  font-weight: 600;
  color: #666;
  font-size: 1.8rem;
  width: 80%;
  margin: 0 auto;
}

.done__strong {
  display: block;
}

.card {
  background-image: url('http://fronterasmagazine.com/wp-content/uploads/2013/11/tarjeta.jpg');
  background-repeat: no-repeat;
  background-position: left 4px center;
  background-size: 50px;
}

.red {
  border: solid 1px red !important;
}

.red::after {
  position: fixed;
  z-index: 100;
  bottom: 100%;

  content: "Campo inválido";
}

.error {
  position: absolute;

  display: none;

  color: red;

  font-size: 12px;
}

.red + .error {
  display: block;
}

.sexlog {
  background-color: var(--main-color);
}

@keyframes write {
    0% {
        stroke-dashoffset: 484;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
