.App {
  min-height: 100vh;

  background-color: #f5f5f5;
}

@media (min-width: 768px) {
  body {
    background-color: rgba(0,0,0,.7);
  }
  .App {
    min-height: inherit;
    max-height: 480px;
    max-width: 900px;
    min-width: 768px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

@media (min-width: 768px) {
  main {
    display: flex;
  }
}

.header {
  position: relative;

  text-align: center;

  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.06);
}

.header__title {
  color: var(--main-color);

  font-size: 1.4rem;
  font-weight: 600;
  line-height: 3.2rem;
}

.header__button {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  padding: 3px 16px;

  color: #626262;
  border: 0;
  border-left: solid 1px #e6e6e6;
  background-color: white;

  font-weight: 700;
}

.header__button--back {
  right: auto;
  left: 0;
}

.price {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 75vw;
  min-height: 30vh;
  margin: 20px auto;

  color: var(--main-color);

  justify-content: center;
  align-items: center;
}

.price__tag {
  position: relative;

  display: flex;
  justify-content: center;

  min-width: 46vw;

  text-align: center;
}

.price__coin {
  color: #626262;
}

.price__value {
  display: inline-block;

  font-size: 7rem;
  font-weight: 700;
  line-height: 4rem;
}

.price__spans {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: flex-start;
}

.price__spans span {
  font-size: 2rem;
  font-weight: 700;
}

.price__spans span + span {
  color: #d5186a;

  font-size: 1rem;
  font-weight: 600;
}

.price__description {
  padding-top: 20px;

  text-align: center;

  color: #626262;

  font-size: 1rem;
  font-weight: 600;
}

.price__description b {
  color: var(--main-color);

  font-weight: 700;
}

.choices__button {
  display: flex;

  width: 96%;
  margin: 6px auto;
  padding-left: 3rem;

  text-align: left;

  color: var(--main-color);
  border: solid 1px #e6e6e6;
  border-radius: 6px;
  background-color: white;

  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3.6rem;

  align-items: baseline;
  justify-content: space-between;
}

.choices__button:focus,
.choices__button.active {
  color: white;
  outline: 0;
  background-color: var(--main-color);
}

.choices__button span {
  padding-right: 20px;

  text-align: right;

  font-size: .8rem;
  font-weight: 600;
}

.choices__button span b {
  color: #62b3c9;

  font-size: .8rem;
}

.choices__button:focus b {
  color: white;
}

.footer__button {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  color: white;
  border: 0;
  background-color: #49cba4;

  font-size: 1rem;
  line-height: 3.2rem;
}

.footer__button:disabled {
  background-color: gray;
}

.checkout {
  max-width: 100%;
  padding: 40px 20px;
}

.checkout__label {
  display: block;
  color: #888;
  margin-bottom: 20px;
}

.checkout__input {
  display: block;
  border: solid 1px #ccc;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  margin-top: 6px;
}

.checkout__select {
  display: inline-block;
  width: 80px;
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
  margin-right: 12px;
  margin-top: 6px;
}

.checkout__input--card {
  padding-left: 62px;
}

.checkout__input--cvc {
  width: 180px;
}

.checkout__verbose {
  padding: 12px;
  color: #c19951;
  text-align: center;
  border: 1px solid #f0d8a8;
  background-color: #FCF7DE;
  display: block;
  font-size: 14px;
}

.card {
  background-image: url('http://fronterasmagazine.com/wp-content/uploads/2013/11/tarjeta.jpg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: left 4px center;
}

.card-2 {
  background-image: url('https://www.bankofamerica.com/content/images/ContextualSiteGraphics/CreditCardArt/en_US/Approved_PCM/radz_wldvhd_mc_250x158.png');
}

.success-icon {
    stroke-dasharray: 530;
    animation: 1.6s write cubic-bezier(.25,.8,.25,1);
}

.done {
  width: 160px;
  display: block;
  margin: 40px auto;
  text-align: center;
}

.done svg {
  max-width: 100%;
  height: 100%;
}

@keyframes write {
    0% {
        stroke-dashoffset: 484;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
